@import '_variables.scss';
@import '_public.scss';

.bg-red {
	background-color: $red;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	box-shadow: 1px 1px 5px #ccc;
}
.tiny-swiper {
	position: relative;
}
.swiper-list {
	height: 400px;
	width: 1000px;
	position: relative;
}
.slide-item {
	position: absolute;
	width: 600px;
	height: 400px;
}
.h1 {
	font-size: 48px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0 0 -24px;
}

.slide-nav {
	position: absolute;
	width:52px;
	height:52px;
	top:50%;
	margin-top: -26px;
	display:block;
	z-index:100;
	overflow:hidden;
	cursor:pointer;
}
.slide-prev {
	background: url(images/btn.png) left top no-repeat;
	left: -60px
}
.slide-next {
	background: url(images/btn.png) right top no-repeat;
	right: -60px
}
.slide-pagination {
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
}
.slide-pagination-item {
	width: 20px;
	height: 20px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url('images/nav.png') no-repeat center 0;
	cursor: pointer;
}
.slide-pagination-item.active {
	background: url('images/nav-active.png') no-repeat center 0;
}